html{
	scroll-behavior:smooth;
}
body{
	margin:0px;
	font-Family:'comic sans ms', sans-serif;
	text-align:center;
	background:linear-gradient(45deg,lightsalmon,lightgreen)
}
h1{
	font-family:'Castellar',sans-serif;
	fonr-size:42px;
	font-weight:bolder;
	text-shadow:0 0 10px black;
}
table{
	width:100%;
}
h2{
	h2background:linear-gradient(45deg,black,darkred,black);
	width:60%;
	color:white;
	margin:auto;
	padding:15px;
	border-radius:60% 60% 0% 0%;
	border-bottom:5px solid white;
	font-family:'Arial' ,serif;
}
img{
	width:270px;
	height:160px;
	border-radius:20px;
	box-sahdow:0 0 10px black;
}
img.main{
	width:500px;
	height:170px;
}